services:
  - type: web
    name: gemini-proxy
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "npm start"
    autoDeploy: true
    envVars:
      - key: GEMINI_API_KEY
        sync: false
